---
---

@import "{{ site.theme }}";

$brand-color: darken(#135DFB, 10%);
$text-color: #4D4D4D;
$border-color: #ccc;
$body-bg: #fff;
$header-bg: $brand-color;
$icon-color: $brand-color;
$baseline: 24px;

body {
  margin: 0;
  font-size: 0;
  line-height: 1;
  color: $text-color;
  background-color: $body-bg;
  font-family: "Karla", sans-serif;
}

.page-header {
  margin: 0;
  padding: 0;
  background: none;
  color: $text-color;

  h1 {
    font-size: 0;
    margin: $baseline 0;

    span {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1px;
      display: inline-block;
      vertical-align: middle;
      line-height: $baseline * 2;
    }

    &:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.main-content {
  padding-top: 0;
  padding-bottom: 0;

  & > ul {
    margin: 0;
    padding: 0 0 72px 0;
    list-style: none;

    & > li {
      margin-top: 72px;
      padding-top: 72px;
      background-color: none;
      box-shadow: inset 0 1px 0 0 $border-color;

      li {
        padding: 0;
        margin: 0 0 $baseline/2 0;
      }
    }
  }

  .highlight {
    margin-bottom: 24px;
  }

  pre {
    border: none;
    // background: none;
    padding: $baseline;
    border-radius: 4px;
    line-height: $baseline;
    margin: 0 0 $baseline 0;
    box-shadow: inset 0 0 0 1px $border-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    margin-bottom: $baseline;
    margin-top: 0 !important;
  }

  h1, h2, h3, h4, h5,
  h6, p, ol, ul, li {
    margin: 0;
    color: $text-color;
    margin-bottom: $baseline; /* Baseline grid size */
  }

  h1 {
    font-size: 50px;
    line-height: $baseline * 3;
    font-weight: normal;
  }

  h2 {
    font-size: 40px;
    line-height: $baseline * 2;
    font-weight: normal;
  }

  h3 {
    font-size: 30px;
    line-height: $baseline * 2;
    font-weight: normal;
  }

  h4 {
    font-size: 20px;
    line-height: $baseline;
    font-weight: normal;
  }

  p, h5, li {
    font-size: 16px;
    line-height: $baseline;
  }

  h5 {
    font-weight: bold;
  }

  h6 {
    font-size: 10px;
    line-height: $baseline;
  }
}

a {
  color: $brand-color;
}


.author {
  font-size: 80%;
  font-style: italic;
  text-align: right;
}

.author-info {
  padding: 0;
  font-size: 12px;

  span {
    position: relative;
    display: inline-block;
    line-height: $baseline;
    padding-left: $baseline;

    small {
      left: 0;
      top: 4px;
      color: #999;
      font-size: 100%;
      position: absolute;
    }

    &:first-child {
      width: 25%;
      margin-left: $baseline;
    }

    &:nth-child(2) {
      width: 23%;
    }

    &:nth-child(3) {
      width: 15%;
    }

    &:last-child {
      width: 30%;

      span {
        width: auto;
        padding-left: 0;
        vertical-align: top;
        line-height: $baseline;
      }
    }
  }
}

// icon reference -
// http://cssicon.space/#/icon/profile
// https://saeedalipoor.github.io/icono/
// https://simpleicons.org/

.icon {
  &:before,
  &:after {
    content: '';
    position: absolute;
  }
}

.tag.icon {
  width: 7px;
  height: 7px;
  color: #000;
  margin-top: 2px;
  border-radius: 1px 1px 1px 0;
  border-left: solid 1px $icon-color;
  border-top: solid 1px $icon-color;

  &:before {
    top: 1px;
    left: 1px;
    width: 9px;
    height: 10px;
    border-radius: 1px;
    border-left: solid 1px $icon-color;
    border-right: solid 1px $icon-color;
    border-bottom: solid 1px $icon-color;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  &:after {
    top: 3px;
    left: 3px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: $icon-color;
  }
}

.profile.icon {
  color: #000;
  width: 14px;
  height: 6px;
  margin-top: 10px;
  border-left: solid 1px $icon-color;
  border-right: solid 1px $icon-color;
  border-top: solid 1px $icon-color;
  border-bottom: solid 1px transparent;
  border-radius: 6px 6px 0 0;

  &:before {
    left: 1px;
    top: -10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 1px $icon-color;
  }
}

.calendar.icon {
  color: #000;
  width: 16px;
  height: 14px;
  margin-top: 2px;
  border-radius: 1px;
  border: solid 1px $icon-color;
  box-shadow: inset 0 2px 0 0 $icon-color;

  &:before {
    top: -3px;
    left: 3px;
    width: 1px;
    height: 2px;
    background-color: $icon-color;
    box-shadow: 8px 0 0 0 $icon-color;
  }

  &:after {
    top: 4px;
    left: 2px;
    width: 2px;
    height: 2px;
    background-color: $icon-color;
    box-shadow: 4px 0 0 0 $icon-color,
                8px 0 0 0 $icon-color,

                0px 4px 0 0 $icon-color,
                4px 4px 0 0 $icon-color,
                8px 4px 0 0 $icon-color;
  }
}

.logo,
.twitter i,
.facebook i,
.google-plus i {
  display: inline-block;
  background: transparent url('../images/sprite.svg') 0 0 no-repeat;
  background-size: 59px 64px;
}

.logo {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  vertical-align: middle;
  background-position: -1px -1px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.twitter,
.facebook,
.google-plus {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: $brand-color;

  i {
    width: 20px;
    height: 20px;
  }
}

.twitter {
  &:hover, &:focus, &:active {
    background-color: #1DA1F2;
  }

  i {
    background-position: -38px -22px;
  }
}

.facebook {
  &:hover, &:focus, &:active {
    background-color: #3B5998;
  }

  i {
    background-position: -38px -1px;
  }
}

.google-plus {
  &:hover, &:focus, &:active {
    background-color: #DC4E41;
  }

  i {
    background-position: -38px -43px;
  }
}


// media queies

@media (max-width: 768px) {
  .page-header {
    h1 {
      line-height: 1.3;
      padding: 0 10px;

      &:before, &:after {
        display: none;
      }
    }
  }

  .entry-meta.entry-meta span {
    width: 49%;
    margin: 5px 0;
  }
}

@media (max-width: 600px) {
  .entry-meta.entry-meta span {
    width: 100%;
    margin: 5px 0;
  }
}


.toggle-lines {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#9cc), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 24px;
  -moz-background-size: 100% 24px;
  -ms-background-size: 100% 24px;
  -o-background-size: 100% 24px;
  background-size: 100% 24px;
  background-position: top left;
}

.toggle-bg * {
  background-color: rgba(0,255,0,0.15);
}

.btn-sticky {
  bottom: 44px;
  right: 44px;
  position: fixed;
  background: none !important;
}

button {
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 22px;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #369 !important;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}
