---
---

@import "{{ site.theme }}";

$body-bg: #fff;
$baseline: 20px;
$border-color: #ccc;
$text-color: #29292c;
$brand-color: darken(#135DFB, 10%);
$header-bg: $brand-color;
$icon-color: $brand-color;

body {
  margin: 0;
  font-size: 0;
  line-height: 1;
  color: $text-color;
  background-color: $body-bg;
  font-family: "Karla", sans-serif;
}

.page-header {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 740px;
  background: none;
  color: $text-color;

  h1 {
    font-size: 0;
    margin: $baseline 0;

    span {
      font-size: 38px;
      font-weight: 700;
      letter-spacing: 1px;
      display: inline-block;
      vertical-align: middle;
      line-height: $baseline*2;
    }

    &:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.main-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 740px;

  & > ul {
    margin: 0;
    padding: 0 0 $baseline*3 0;
    list-style: none;

    & > li {
      margin-top: $baseline*3;
      padding-top: $baseline*3;
      background-color: none;
      box-shadow: inset 0 1px 0 0 $border-color;

      li {
        padding: 0;
        margin: 0 0 $baseline 0;
      }
    }
  }

  .highlight {
    margin-bottom: $baseline;
  }

  pre {
    border: none;
    font-size: 14px;
    // background: none;
    padding: $baseline;
    border-radius: 4px;
    line-height: $baseline;
    margin: 0 0 $baseline 0;
    box-shadow: inset 0 0 0 1px $border-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    margin-bottom: $baseline;
    margin-top: 0 !important;
  }

  h2, h3, h4, h5, h6 {
    position: relative;

    .inner-link {
      opacity: 0;
      margin-left: -0.75em;
      transform: rotate(45deg);

      &:hover {
        text-decoration: none;
      }
    }

    &:hover .inner-link {
      animation: show-link 0.3s ease-in-out forwards;
    }
  }

  h1, h2, h3, h4, h5,
  h6, p, ol, ul, li {
    margin: 0;
    color: $text-color;
    margin-bottom: $baseline; /* Baseline grid size */
  }

  h1 {
    font-size: 50px;
    line-height: $baseline*3;
    font-weight: normal;
  }

  h2 {
    font-size: 37px;
    line-height: $baseline*2;
    font-weight: normal;
  }

  h3 {
    font-size: 28px;
    line-height: $baseline*2;
    font-weight: normal;
  }

  h4 {
    font-size: 21px;
    line-height: $baseline;
    font-weight: normal;
  }

  p, h5, li {
    font-size: 16px;
    line-height: $baseline;
  }

  h5 {
    font-weight: bold;
  }

  h6 {
    font-size: 12px;
    line-height: $baseline;
  }
}

@keyframes show-link {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

a {
  color: $brand-color;
}

.meta {
  padding: 0;
  margin-top: $baseline*3;

  a {
    padding-right: $baseline;
    text-transform: capitalize;
  }

  span {
    position: relative;
    display: inline-block;
    line-height: $baseline;
    padding-right: $baseline;
  }

  .meta-author {

  }

  .meta-date {
    position: relative;

    &:before {
      content: "–";
      margin: 0 20px 0 0;
    }
  }

  .meta-tags {
    font-size: 12px;
    word-spacing: 5px;
    text-transform: uppercase;
  }

  .meta-share {
    float: right;
    display: none;
    padding-right: 0;
  }
}


// icon reference -
// http://cssicon.space/#/icon/profile
// https://saeedalipoor.github.io/icono/
// https://simpleicons.org/

.twitter i,
.facebook i,
.google-plus i {
  display: inline-block;
  background: transparent url('../images/sprite.svg') 0 0 no-repeat;
  background-size: 59px 64px;
}

.logo {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  vertical-align: middle;
  background-position: -1px -1px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.twitter,
.facebook,
.google-plus {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: $brand-color;

  i {
    width: 20px;
    height: 20px;
  }
}

.twitter {
  &:hover, &:focus, &:active {
    background-color: #1DA1F2;
  }

  i {
    background-position: -38px -22px;
  }
}

.facebook {
  &:hover, &:focus, &:active {
    background-color: #3B5998;
  }

  i {
    background-position: -38px -1px;
  }
}

.google-plus {
  &:hover, &:focus, &:active {
    background-color: #DC4E41;
  }

  i {
    background-position: -38px -43px;
  }
}


// media queies

@media (max-width: 915px) {
  .page-header {
    h1 {
      line-height: 1.3;
      padding: 0 10px;

      &:before, &:after {
        display: none;
      }
    }
  }

  .author-info.author-info span {
    width: 49%;
    margin: 5px 0;

    &:last-child {
      padding-left: 0;
    }
  }
}

@media (max-width: 600px) {
  .author-info.author-info span {
    width: 100%;
    margin: 5px 0;
  }

  .meta .meta-tags {
    margin-top: 20px;
  }
}


.toggle-lines {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#9cc), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #9cc 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% $baseline;
  -moz-background-size: 100% $baseline;
  -ms-background-size: 100% $baseline;
  -o-background-size: 100% $baseline;
  background-size: 100% $baseline;
  background-position: top left;
}

.toggle-bg * {
  background-color: rgba(0,255,0,0.15);
}

.btn-sticky {
  right: 44px;
  bottom: 44px;
  // display: none;
  position: fixed;
  background: none !important;
}

button {
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 22px;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #369 !important;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}
